[package]
name = "bascet"
version = "2.0.0-alpha.1"
description = "Bascet is a tool to preprocess single-cell data, handling barcode detection, trimming, QC, and managing the execution of custom tools for each cell"
edition = "2021"
license = "MIT"
homepage = "https://henriksson-lab.github.io/zorn/"
repository = "https://github.com/henriksson-lab/bascet"
readme = "README.md"
include = ["/src", "Cargo.toml", "Dockerfile", "README.md"]

[workspace]
members = ["bascet-core", "bascet-derive", "bascet-io", "bascet-variadic"]

[workspace.package]
version = "2.0.0-alpha.1"
edition = "2021"
license = "MIT"
repository = "https://github.com/henriksson-lab/bascet"
homepage = "https://henriksson-lab.github.io/zorn/"

[profile.release]
lto = "fat"

[dependencies]
ahash = "0.8.12"
anyhow = "1.0.93"
bascet-core = { path = "bascet-core" }
bascet-derive = { path = "bascet-derive" }
bascet-io = { path = "bascet-io" }
bgzip = "0.3.1"
bincode = "1.3.3"
bio = "2.0.3"
bitfield-struct = "0.9.2"
blart = "0.4.0"
bytemuck = "1.23.2"
clap = { version = "4.5.23", features = ["derive"] }
clio = { version = "0.3.5", features = ["clap-parse"] }
const_format = "0.2.34"
crossbeam = "0.8.4"
csv = "1.2.2"
delegate = "0.13.1"
enum_delegate = "0.2.0"
enum_dispatch = "0.3.13"
env_logger = "0.10.0"
flate2 = { version = "1.0.28", features = [
  "zlib-rs",
], default-features = false }
fraction = "0.15.3"
# flate2 = "1.0.28"
fs2 = "0.4.3"
fxhash = "0.2.1"
glidesort = "0.1.2"
gxhash = "3.5.0"
hamming-bitwise-fast = "1.0.0"
hdf5 = { package = "hdf5-metno", version = "0.9.0" }
indicatif = { version = "0.17", features = ["rayon"] }
itertools = "0.13.0"
lazy_static = "1.5.0"
libc = "0.2.174"
likely_stable = "0.1.3"
linya = "0.3.1"
log = "0.4.19"
memchr = "2.7.5"
memmap2 = "0.9.5"
memory-stats = "1.0.0"
min-max-heap = "1.3.0"
murmur3 = "0.5.2"
ndarray = "0.16.1"
niffler = "2.5.0"
noodles = { version = "0.97.0", features = [
  "bam",
  "cram",
  "fastq",
  "sam",
  "gff",
  "gtf",
  "bgzf",
] }
paste = "1.0.15"
path-clean = "1.0.1"
priority-queue = "2.1.1"
#noodles-bgzf = "0.32.0"
#noodles-gff = "0.48.0"
rand = { version = "0.8.5", features = ["small_rng"] }
rand_distr = "0.4.3"
rapidhash = "2.0.2"
rart = "0.2.1"
rayon = "1.10.0"
regex = "1.11.1"
rev_buf_reader = "0.3.0"
rtrb = "0.3.2"
rust-htslib = "0.48.0"
rustc-hash = "2.0.0"
scopeguard = "1.2.0"
seahash = "4.1.0"
semver = "1.0.23"
seq_io = "0.3.1"
serde = { version = "1.0.188", features = ["derive"] }
shellexpand = "3.1.1"
slog = "2.8.2"
slog-async = "2.8.0"
slog-scope = "4.4.0"
slog-term = "2.9.1"
smallvec = "1.15.1"
sprs = "0.11.3"
tar = "0.4.43"
thiserror = "2.0.12"
threadpool = "1.8.1"
twox-hash = "2.1.1"
unix-named-pipe = "0.2.0"
walkdir = "2.5.0"

#HACK: crucial that we use old version (1.1.1). 2.x does not work. Other versions magnitudes slower.
#TODO: im going to be brave and try latest
# still not sure if using latest breaks anything else but for countsketch latest works.
# crucial to disable default features though due to dependency conflicts
zip = { version = "4.3.0", default-features = false, features = ["zstd"] }
