[package]
name = "bascet-apply"
description = "Bascet apply macro"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[lib]
proc-macro = true

[dependencies]
quote = "1.0.42"
syn = { version = "2.0.110", features = ["full"] }
